@import url("https://fonts.googleapis.com/css?family=Oswald|Outfit");

body, #main_results {
	background: conic-gradient(#A8BEFB, #F7AEB7, #A8BEFB);
}

#results {
	flex-direction: row-reverse;
	background: transparent !important;
	margin: -0.75vh 0 6vh 9.9vw;
}

/*hides result count*/
#result_count {
	display: none !important;
}

/*hides the results after 9 links*/
.category-general:nth-child(n+10), .category-images:nth-child(n+20), .category-videos:nth-child(n+10), .category-news:nth-child(n+10), .category-map:nth-child(n+10), .category-it:nth-child(n+10), .category-science:nth-child(n+10), .category-files:nth-child(n+10), .category-social:nth-child(n+1) {
	display: none !important;
}

.only_template_images {
	margin: -0.75vh 0 0 9vw !important;
}

/*the preferences button on top right*/
#linkto_preferences {
	background: #171B25;
	padding: 0.75em;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	border-radius: 4px;
}

/*hides the footer*/
#pagination, footer {
	display: none !important;
}

/*hides some unnecessary categories*/
.category:nth-of-type(10), .category:nth-of-type(6) {
	display: none !important;
}

/*text selection*/
::selection {
	color: #171B25;
	background: rgba(239,239,239,0.85);
}

/*images*/
img {
	border-radius: 3px;
}

#search_logo {
	display: none !important;
}

/*search_header*/
.search_box {
	border-radius: 4px !important;
	border: none;
	margin: 3vh 0 0 0;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
}

#q {
	border-radius: 4px 0 0 4px !important;
	background: #222835 !important;
	font: normal normal 18px "Outfit", sans-serif;
}

#send_search {
	border-radius: 0 4px 4px 0 !important;
	font: normal bold 15px "Oswald", sans-serif;
	color: #171B25;
	background: #F7AEB7;
	transition: background 0.125s ease-in-out 0s;
}

#send_search:hover {
	background: #FC8A94;
}

#clear_search {
	display: none;
}

#search_header {
	background: #171B25;
	margin: 2% 9% 2% 9%;
	border-radius: 5px;
	border: none !important;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}

/*categories*/
.category {
	all: initial;
	margin: auto 0;
}

.tooltips {
	all: initial;
	background: transparent;
	color: #EFEFEF;
	font: normal normal 16px "Outfit", sans-serif !important;
	padding: 0.25em !important;
	margin: 0.25em !important;
	transition: color,background 0.125s ease-in-out 0s;
}
.category_name {
	margin: auto;
}

/*search filters*/
.search_filters {
	background: #171B25;
	border-radius: 4px;
	padding: 1% 4% 1% 4%;
	font: normal normal 12px "Outfit", sans-serif;
	display: none;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}
select {
	background: transparent;
	display: inline-block;
	width: 10% !important;
}
option {
	background: #222835 !important;
	border: none !important;
	border-radius: 4px !important;
}

/*sidebar*/
#sidebar {
	width: 25vw !important;
	margin: 0 0 0 2.5vw;
}

.suggestion {
	font: normal normal 15px "Outfit", sans-serif !important;
}
.dialog-error {
	border-radius: 5px !important;
	background: #171B25 !important;
	border: none !important;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	font: normal bold 15px "Outfit", sans-serif;
	padding: 1.25vw !important;
}

.infobox, #suggestions {
	border-radius: 5px !important;
	background: #171B25;
	border: none !important;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	padding: 2.5vw !important;
	font: normal normal 16px "Outfit", sans-serif !important;
	line-height: 1.55em !important;
	color: #EFEFEF;
}

#search_url-title, #suggestions-title {
	display: none;
}
#search_url {
	border-radius: 5px !important;
	background: #171B25;
	border: none !important;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	padding: 1.25vw !important;
	font: normal normal 16px "Outfit", sans-serif !important;
	line-height: 1.55em !important;
	color: #EFEFEF;
}
.selectable_url {
	background: transparent;
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
}

/*infotext heading*/
h2 {
	background: #8AE29D;
	display: inline-block;
	padding: 0.25em;
	border-radius: 4px 0 0 4px;
	color: #171B25;
	font: normal bold 28px "Oswald", sans-serif;
}

/*main search results*/
#urls {
	background: #171B25;
	border-radius: 5px;
	border: 5px solid #222835;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	margin: 0 -1vw 1vh -1vw;
	padding: 4vh 5vw 2vh 5vw;
	width: 44vw;
}
.url_wrapper {
	display: inline-block !important;
}
.url_o2 {
	display: none !important;
}
.url_o1 {
	font: normal normal 15px "Outfit", sans-serif;
}

.result .image, .category-music .thumbnail {
	display: none !important;
}

.result {
	padding: 3vh 0 3vh 0;
	border: none !important;
}
.published_date {
	font: normal normal 14px "Outfit", sans-serif !important;
}

.badge {
	all: initial;
	background: #171B25 !important;
	color: #FBE091;
	border-radius: 2px !important;
	padding: 0.25em !important;
	margin : 0.25em;
	padding: 0.1em !important;
}
.media-loader {
	color: #E4E4E4 !important;
	background: #222835 !important;
	border-radius: 2px !important;
	font: normal normal 16px "Outfit", sans-serif !important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	transition: color 0.125s ease-in-out 0s;
}
.media-loader:hover {
	color: #FC8A94 !important;
	text-decoration: underline;
}

.magnetlink {
	all: initial;
	background: #222835 !important;
	border-radius: 2px !important;
	padding: 0.5em !important;
	font: normal normal 16px "Outfit", sans-serif !important;
	color: #E4E4E4 !important;
	transition: color 0.125s ease-in-out 0s;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.magnetlink:hover {
	color: #FC8A94 !important;
	text-decoration: underline;
}

.category-map tr:hover {
	background: transparent !important;
}
.category-map th {
	color: #E4E4E4 !important;
	font: normal normal 16px "Outfit", sans-serif !important;
}
.category-map .text-info {
	color: #8AE29D !important;
	font: normal normal 16px "Outfit", sans-serif !important;
	display: flex;
	padding: 0.25em;
	transition: color 0.125s ease-in-out 0s;
}
.category-map .text-info:hover {
	color: #FC8A94 !important;
	text-decoration: underline;
}
.btn-collapse {
	background: #222835;
	color: #E4E4E4;
	padding: 0.5em;
	border-radius: 3px;
	font: normal normal 14px "Outfit", sans-serif;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	transition: color 0.125s ease-in-out 0s;
}
.btn-collapse:hover {
	color: #FC8A94;
	text-decoration: underline;
}

.stat {
	margin: 1em !important;
	color: #E4E4E4;
	font: normal normal 16px "Outfit", sans-serif !important;
}

.result:focus {
	all: initial !important;
}

.engines {
	color: #D9D7D6 !important;
	font: normal normal 16px "Outfit", sans-serif;
}
.cache_link {
	display: none !important;
}


h3 a, h3 .highlight {
	font: normal normal 21px "Outfit",  sans-serif !important;
	padding: 1% 0 1% 0;
	color: #A8BEFB !important;
}
.content {
	font: normal normal 16px "Outfit", sans-serif !important;
	line-height: 1.55em !important;
	color: #E4E4E4 !important;
	padding: 0.22em 0 0 0 !important;
}

/*colors*/
.dialog-error {
	color: #FBE091;
}
.dialog-error div p p:nth-of-type(1) {
	color: #FBE091 !important;
}
.dialog-error p p:nth-of-type(2) {
	color: blue !important;
}

.published_date {
	color: #D9D7D6 !important;
}

/*links*/
.dialog-error a, #infoboxes .urls a, .suggestion {
	color: #82D5EF !important;
	transition: color 0.125s ease-in-out 0s;
}

.dialog-error a:hover, #infoboxes .urls a:hover, .suggestion:hover {
	text-decoration: underline;
	color: #FC8A94 !important;
}

#infoboxes .urls a {
	font: normal normal 15px "Outfit", sans-serif !important;
}

/*end*/
#backToTop {
	border: 0px solid #171B25 !important;
	border-radius: 3px !important;
	background: #222835;
	margin: 0 -10em 0 0 !important;
	color: #171B25 !important;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
