@import url("https://fonts.googleapis.com/css?family=Oswald|Outfit|JetBrains+Mono");

#main_results {
	background: linear-gradient(#EACFF2, #B9C0F2, #EDCFF1, #C2CEF8) !important;
}

#search_header {
	background: transparent !important;
	margin-left: 8.2vw/*8.3%*/ !important;
	margin-top: 2%;
	width: 40vw/*40.1%*/;
	border-bottom: none;
	padding-top: 3%;
	padding-bottom: 1%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}
#q {
	background: transparent !important;
	border: none;
}

.search_box {
	background: #222835 !important;
	border: none;
	border-radius: 4px !important;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.4) !important;
	margin-left: -23%;
	width: 117.6%;
	font: normal normal 20px "Outfit", sans-serif !important;
}

#send_search {
	transition: background 0.125s ease-in-out 0s;
	background: #F7AEB7;
	color: #171B25;
	border-radius: 0 4px 4px 0 !important;
}

#send_search:hover {
	background: #FC8A94 !important;
}

#clear_search, #search_logo, .search_filters, #categories, #linkto_preferences, #search_url-title {
	display: none !important;
	all: initial;
}
article:nth-child(n+10) {
	display: none;
}


#search {
	display: flex;
}

#urls, #search_header {
	border: 5px solid #222835;
	border-radius: 5px;
	background: #171B25 !important;
}

#urls {
	font: normal normal 17px "Outfit", sans-serif;
	padding: 3% 9% 20% 9%;
	border-top: none;
	margin-left: -2.32vw/*-5%*/;
	margin-top: -5%;
	box-shadow: 5px 20px 10px rgba(0,0,0,0.75);
	width: 40.9vw !important;
	margin-bottom: 5%;
}

#sidebar {
	display: block;
}

.url_wrapper, .url_wrapper {
	color: #EFEFEF;
	transition: color 0.125s ease-in-out 0s;
}
.url_wrapper:hover, .url_wrapper:hover {
	color: #FC8A94;
	text-decoration: underline !important;
}

.content {
	font: normal normal 17px "outfit", sans-serif;
	line-height: 1.55em !important;
	color: #D9D7D6;
}
h3>a, h3>a:visited, h3 .highlight {
	font: normal normal 22px "Outfit", sans-serif !important;
	color: #EFEFEF !important;
}
a:hover, h3>a:visited:hover, h3>a:hover {
	text-decoration: underline;
	color: #FC8A94 !important;
}
h3 .highlight:hover {
	color: none !important;
}

.content .highlight {
	font: normal bold 16px "outfit", sans-serif !important;
	color: #EFEFEF !important;
}

a {
	color: #82D5EF;
	transition: color 0.125s ease-in-out 0s;
}



bdi>a {
	color: #82D5EF !important;
}

.dialog-error, .infobox{
	border-radius: 5px !important;
	background: #171B25 !important;
	border: none !important;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	font: normal normal 15px "outfit", sans-serif !important;
}
.selectable_url {
	border-radius: 5px !important;
	background: #171B25 !important;
	border: none !important;
	font: normal normal 15px "outfit", sans-serif !important;
}
.infobox {
	padding: 10% !important;
	color: #E4E4E4/*#D9D7D6*/;
}

.dialog-error {
	padding: 8%;
	color: #FBE091;
}
#search_url {
	background: #171B25 !important;
	padding: 5% !important;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
	border-radius: 5px !important;
}

h2 {
	font: normal bold 23px "Oswald", sans-serif !important;
	display: inline-block;
	border-radius: 4px 0 0 4px;
	background: #8AE29D;
	padding: 0.3em;
	margin-bottom: 1em !important;
	color: #171B25 !important;
}
.cache_link {
	color: #DA91CE;
}
.engines {
	color: #8AE29D;
}

.result:indeterminate {
	background: pink !important;
}
img {
	border-radius: 2px;
}


::selection {
  color: #171B25;
  background: rgba(239,239,239,0.85);
}

footer {
	display: none !important;
}

#pagination form:nth-child(1) button {
	background: pink !important;
	border: none;
	border-radius: 4px 0 0 4px !important;
	transition: background 0.125s ease-in-out 0s;
	color: #171B25;
	font: normal normal 19px "Oswald", sans-serif;
}
#pagination form:nth-child(2) button {
	background: pink !important;
	border: none;
	border-radius: 0 4px 4px 0 !important;
	transition: background 0.125s ease-in-out 0s;
	color: #171B25;
	font: normal normal 19px "Oswald", sans-serif;
}
#pagination form button:hover {
	background: #F7AEB7 !important;
}
#pagination {
	margin-top: -20vh;
}
