@import url("https://fonts.googleapis.com/css?family=Outfit|League+Gothic|Readex+Pro");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*removes the unattractive defaults*/
input{outline:none;border:none;}/**/button{border:none;}

img {
	border: 4px solid #222835;
}

body {
	background: #171B25;
	line-height: 1.35em;
}

.mainContainer {
	background: #171B25;
	padding: 3.2em;
	width: 57%;
	border-radius: 2px;
	box-shadow: 0px 10px 25px rgba(0,0,0, 0.85);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-57%);
	display: flex;
	transition: visibility 0.15s linear 0s, opacity 0.15s linear 0s;
}

.noImg {
	width: 100%;
	margin-left: 1.5em;
}

.searchContainer {
	margin: auto;
	display: flex;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	width: calc(100%);
}

#searchInput {
	width: 100%;
	font: normal normal 19.5px "Outfit", sans-serif;
	padding: 0.7em;
	background: #222835;
	border-radius: 2px 0 0 2px;
	color: #EFEFEF;
}
#searchInput:focus {
	color: #EFEFEF;
}
#searchInput::placeholder {
  color: rgba(239,239,239,0.5);
}

#searchButton, #clearButton {
	color: #171B25;
	transition: background 0.125s ease-in-out 0s;
}

#searchButton {
	border-radius: 0 2px 2px 0;
	padding: 0.375em 0.4em 0.375em 0.42em;
	margin-left: 2px;
	color: #EFEFEF;
	background: #222835;
	font: normal normal 27px "Material Icons", sans-serif;
}

#clearButton {
	padding: 0.15em;
	font: normal normal 22px "Material Icons", sans-serif;
	background: #222835/*rgba(42,49,65,1)*/;
  	color: rgba(239,239,239,0.75);
	transition: color 0.175s ease-in-out 0s;
	display: none;
}

#clearButton:hover {
	color: rgba(239,239,239,0.9);
}

#searchButton:hover {
	background: #FC8A94;
	color: #171B25;
}

.noSearchbar {
	display: flex;
	margin-top: 1.5em;
	height: 154px;
}

#toggleContainer {
	background: transparent;
	height: 90%;
	margin: auto;
	display: grid;
}

/*this wasn't necessarily needed, but kept for extensibility*/
.buttonWrapper {
	display: flex;
	align-items: center;
}

#toggleButton, #editButton, #settingsButton {
	border-radius: 50%;
	border: 2px solid #222835;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	padding: 0.25em;
	background: #222835;
	color: #EFEFEF;
	font: normal normal 22px "Material Icons", sans-serif;
	transition: color 0.125s ease-in-out 0s;
	/*margin: auto; not needed*/
}

.heading {
	font: normal normal 20px "Outfit", sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1)/*#ff0*/;
}

.heading1 {
	color: #FBE091;
}

.moreHeading1 {
	color: #FBE091;
}

.heading2 {
	color: #8AE29D;
}

.moreHeading2 {
	color: #8AE29D;
}

.heading3 {
	color: #A8BEFB;
}

.links {
	height: calc(85% - 0.5em);
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	color: rgba(239,239,239,0.85);
	font: normal normal 17.5px "Outfit", sans-serif;
	text-decoration: none;
	transition: color 0.15s ease-in-out 0s;
}

.link:hover {
	cursor: default;
	color: #EFEFEF;
}

.bookmarks {
	width: 100%;
	display: flex;
	border: 3px solid rgba(34,40,53,0.75);
	background: #222835;
	box-shadow: 0 0px 1px rgba(0,0,0,1) inset;
	margin-left: 1.5em;
}

.moreBookmarks {
	border: 3px solid rgba(34,40,53,0.75);
	background: #222835;
	box-shadow: 0 0px 1px rgba(0,0,0,1) inset;
	display: flex;
	font: normal normal 16.5px "Outfit", sans-serif;
  	color: rgba(239,239,239,0.95);
	padding-bottom: 0.25em;
}

.bookmark, .moreBookmark {
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.bookmark {
	width: 33.3%;
}

.moreBookmark {
	width: 50%;
}

#editContainer {
	display: none;
	opacity: 1;
	background: #171B25;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-60%);
	box-shadow: 0px 10px 25px rgba(0,0,0, 0.85);
	padding: 2em;
	/*transition: display 0.15s linear 0s, opacity 0.15s linear 0s;*/ /*animation overwrites this*/
	animation-name: slide;
	animation-duration: 0.175s;
	width: 20%;
}

.editContainerButtons {
	margin-top: 0.75em;
	display: flex;
	justify-content: center;
}

/*animation for editContainers; "fade" animation for .mainContainer is done using transition alone*/
@keyframes slide {
	from { transform: translate(-50%,-52%); opacity: 0;}
	to { transform: translate(-50%,-60%); opacity: 1;}
}

::selection {
	color: #171B25;
	background: rgba(239,239,239,0.85);
}
